.header {
  position: absolute;
  top: 0;
  color: rgb(12, 12, 12);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 35px;
  box-sizing: border-box;
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
      margin: 0;
      top: 0;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    .name {
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);

      .codeBy {
        padding-left: 0.3em;
      }
      .clario {
        padding-left: 0.3em;
      }
      .cadran {
        position: absolute;
        left: 120px;
        padding-left: 0.3em;
      }
    }
    &:hover {
      .name {
        padding-right: 30px;
        .codeBy {
          transform: translateX(-100%);
        }
        .clario {
          transform: translateX(-65px);
        }
        .cadran {
          transform: translateX(-65px);
        }
      }
    }
  }
  .nav {
    display: flex;
    .el {
      display: flex;
      position: relative;
      padding: 15px;
      cursor: pointer;
      .indicator {
        width: 6px;
        height: 6px;
        background-color: rgb(22, 22, 22);
        position: absolute;
        border-radius: 50%;
        top: 80%;
        left: 50%;
        transform: scale(0) translateX(-50%);
        transition: all 0.2s cubic-bezier(0.76, 0, 0.24, 1);
      }
      &:hover {
        .indicator {
          transform: scale(1) translateX(-50%);
        }
      }
    }
  }
}

.headerButtonContainer {
  position: fixed;
  transform: scale(0);
  right: 0;
  z-index: 2;
  .button {
    margin: 20px;
    width: 80px;
    height: 80px;
    background-color: #455ce9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger {
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      width: 40%;
      background-color: white;
      height: 1px;
      margin: auto;
      position: relative;
      transition: all 0.3s;
    }
    &:after {
      top: -5px;
    }
    &:before {
      top: 5px;
    }
  }
  .burgerActive {
    &:after {
      top: -1px;
      transform: rotate(45deg);
    }
    &:before {
      top: 1px;
      transform: rotate(-45deg);
    }
  }
}
